<%-  include('includes/header') %>
<label><h2>Latest</h2></label>
      <hr>
<div class="container row" >
   
    <div class="col-sm-3 mb-3 mb-sm-0" style="margin-top: 1rem;">
      <div class="card" >
            <img src="../images/logo/logo.png" style="width: 15rem; padding: 1rem;" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    
      </div>
      
      <!---     Eduction -->
      <hr>
      <label><h2>Education</h2></label>
      <hr>
      <div class="container row">
        
        
      <div class="col-sm-3 mb-3 mb-sm-0" style="margin-top: 1rem;">
        <div class="card" >
              <img src="../images/logo/logo.png" style="width: 15rem; padding: 1rem;" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    
    <!---     Recommend -->
    <hr>
      <label><h2>Recommend</h2></label>
      <hr>
    <div class="container row">
        
      <div class="col-sm-3 mb-3 mb-sm-0" style="margin-top: 1rem;">
        <div class="card" >
              <img src="../images/logo/logo.png" style="width: 15rem; padding: 1rem;" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
      
  </div>
  
<%-  include('includes/footer')%>
